#currentDisplay {

}
svg {

}
#num_people {
	font-size: 25px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}
.input-field {
	width: 400px;
}
html { overflow-y: scroll; }
body { position: absolute; }
.form-control-lg{
	position: absolute;
	width: 100px;
}
#buttons {
	position: absolute;
	width: 100px;
	left: 10%;
	top: 45px;
}
#reset {
	position: relative;
	opacity: .8;
}
.Question {
	width: 400px;
	font-size: 24px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: lighter;
}
.btn:focus{ 
  background-color: #4dd0e1 
}
#key {
	font-size: 15px;
}
#block_q {
	width: 500px;
	height: 100px;
		font-size: 30px
}
#color_q {
	width: 450px;

}
#b_resp {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 20px;
}
#title {
	font-size: 25px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: bold;

}
#explain {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 30px;
	font-weight: bold;
	width: 500px;
}